body {
	min-width: 1125px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: normal;
	font-family: "Arial", sans-serif;
	color: #000000;
	background-color: #eaeaea;
	background-repeat: repeat;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 1025px;
	margin: 0 auto;
}

.page-header {
	background-color: rgb(189, 33, 13);
	padding-bottom: 30px;
}

.page-header .notar {
	float: left;
	margin-left: 55px;
	min-width: 250px;
}
.page-header .notar a {
	text-decoration: none;
	color: rgb(241, 240, 240);
	display: block;
}

@font-face {
    font-family: 'Beast vs SpreadTall';
    src: url('../fonts/2082-webfont.woff2') format('woff2'),
         url('../fonts/2082-webfont.woff') format('woff'),
         url('../fonts/2082-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-header .notar h1 {
	margin: 0;
	padding: 0;
	font-size: 70px;
	letter-spacing: 0.025em;
	font-weight: normal;
	text-transform: uppercase;
	font-family: "Beast vs SpreadTall", Tahoma, sans-serif;
}
.page-header .contacts {
	color: rgb(231, 209, 210);
	font-size: 24px;
	letter-spacing: 0.025em;
	font-weight: 900;
	float: right;
	margin-top: 30px;
 }
.page-header .contacts:first-child {
	float: left;
 }
.page-header .contacts:last-child {
	float: right;
 }
.page-header .lang {
	display: block;
	float: right;
	font-size: 0;
}
.lang .lan {
	display: inline-block;
}
.lang .lan a {
	text-decoration: none;
	font-family: Tahoma;
	font-size: 14px;
	text-align: center;
	display: block;
	width: 35px;
	height: 38px;
	box-sizing: border-box;	/* это легально ?? */
	padding-top: 12px;
	color: #f1f0f0;
}/*
.lang .lan1 a {
	/*background-color: #e1e1e1;
}
.lang .lan2 a {
	/*color: #f1f0f0;
}*/
.lang  .lan .active {
	background-color: #e1e1e1;	
	color: #212121;
}
.lang .lan a:hover {
	background-color: #e1e1e1;	
	color: #212121;
	
}
.main-nav {
	float: left;	
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: right;
	font-size: 0;	
}
.bg {
	background-color: #f8f8f8;
	height: 45px;
}
.main-nav li {
	display: inline-block;
	list-style: none;
	padding-left: 30px;
	margin: 0;
	padding: 0;
}
.main-nav li a {
	display: block;
	color: #000;
	font-size: 18px;
	font-family: "Tahoma";
	text-decoration: none;
	height: 34px;
	padding: 7px 10px 0;
}
.main-nav li:last-child a{
	margin-right: 40px;
}
.main-nav li a:hover {
	background-color: #bd210d;
	color: #fff;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.main-nav .active {
	background-color: #bd210d;
	color: #fff;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.address-out {
	background-color: #a1a1a1;
}
.address-in {
	background-color: #eaeaea;
}
.location {
	float: left;
	background-color: #a1a1a1;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.time {
	float: right;
	background-color: #a1a1a1;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.location, 
.time {
	height: 110px;
	width: 49.8%;
}
h2 .city,
h2 .street {
	display: block;
	font-size: 22px;
	font-weight: bolder;
	font-family: "Tahoma";
}
.ttime {
	display: block;
	font-size: 22px;
	font-weight: bolder;
	font-family: "Tahoma";	
}
.schedule {
	font-family: "Tahoma";
	font-size: 12px;
	color: #3d3d3d;
}
.schedule .clock {
	font-size: 17px;
	font-weight: bold;
}
.time-in {
	float: left;
	width: 55%;
	padding-left: 120px;
	padding-top: 20px;
	box-sizing: border-box;	/* это легально ?? */
	text-align: right;
}
.time-btn {
	float: right;	
	width: 40%;
}
.time-btn .btn a {
	width: 135px;
	height: 60px;
	display: block;
	font-family: "Tahoma";
	text-transform: uppercase;
	text-align: center;
	background-image: linear-gradient(#f7f7f7, #646363);
	margin-top: 25px;
	cursor: pointer;
	border-radius: 8px;
	text-decoration: none;
	color: black;
	font-size: 12px;
	padding: 13px 10px;
	margin: 0 auto;
	margin-top: 25px;
	box-sizing: border-box;	/* это легально ?? */
}
.time-btn .btn {
	margin: 0;
	padding: 0;
}

.services {
	min-height: 530px;
	margin-bottom: 20px;
}

.services-in {	
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}

.slider, 
.service-list {
	width: 50%;
}
.services-in h2 {
	margin: 0;
	padding: 0;
	font: bolder 25px Tahoma;
	text-align: center;
}
.slider .n {
	font: 14px Arial;
	letter-spacing: 0.025em;
	text-align: center;
	line-height: 50px;
}
.slider {
	float: left;
	width: 50%;
}
.service-list {
	float: right;
}
.slider .info .tel,
.slider .info .mail  {
	display: inline-block;
	position: relative;
	font-family: Tahoma;
	font-size: 14px;
	letter-spacing: 0.025em;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
	min-width: 180px;
	box-sizing: border-box;
	padding-left: 50px;
}
.slider .info .tel-img,
.slider .info .mail-img  {
	position: absolute;
	left: 0px;
	height: 40px;
	width: 47px;
}
.slider .info .tel-img {
    background-image: url('../img/tel.png');
}
.slider .info .mail-img {
    background-image: url('../img/mail.png');
}
.slide {
	border: 1px solid grey;
	width: 415px;
	margin: 0 auto;
	position: relative;
}

.left-btn {
	position: absolute;
	background-image: url("../img/p.png");
	transform: rotate(180deg);
	left: -35px;
	top: 150px;
	width: 26px;
	height: 50px;
}
.right-btn {	
	position: absolute;
	background-image: url("../img/p.png");
	right: -35px;
	top: 150px;
	width: 26px;
	height: 50px;
}
.slide input[type=radio] {
    display: none;
}
.slider-controls {
    margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: right;
}
.slider-controls label {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 3px;
    background-color: #d6d3d3;
    border-radius: 50%;
    transition: background-color 0.2s;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #ef3535;
}
/*
#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-415px);
}
*/

.service-list .btn-cntr {
	display: inline-block;
	text-align: center;
}
.service-list .btn-srv {
	display: inline-block;
	width: 205px;
	height: 70px;
	margin-right: 30px;
	margin-top: 30px;
	font: 20px Arial;
	font-weight: 700;
	font-variant: small-caps;
	letter-spacing: -0.02em;
	text-align: center;
	background-color: #d9d9d9;
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: inset 2px 2px 0px 2px white,
				inset -2px -2px 0px 2px white,
				inset -2px 2px 0px 2px white,
				inset 2px -2px 0px 2px white;
	color: black;
}

.ps-center:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ps-center .center-in {
	display: inline-block;
	vertical-align: middle;
}

.atten {
	min-height: 370px;
	background-color: #fefefe;
	padding: 30px 60px 0px 40px;
	margin-bottom: 20px;
	border: 1px solid #ababab;
}
.atten h3 {
	margin: 0;
	padding: 0;
	font: bold 16px Arial;
	color: #bd210d;
	text-align: center;
	margin-bottom: 25px;
}
.atten .txt {
	font: 16px Arial;
	margin-bottom: 25px;
	text-indent: 20px;
}
.atten .txt-tab {
	padding-top: 40px;
	font: 16px Arial;
}

.atten .txt-tabbed {
	padding-left: 110px;
	font: 16px Arial;
}

.footer {
	height: 215px;
	background-image: linear-gradient(#919191, #bcbcbc);
}

.footer-info {
	min-height: 50px;
	padding: 0 10px;
}
.footer-item {
	float: left;
	min-width: 280px;
	color: #3e3e3e;
	font: 18px Arial;
	letter-spacing: 0.025em;
}
.footer-item:first-child {
	margin-right: 100px;
	padding-top: 5px;
}
.footer-item:nth-child(2) {
	margin-right: 30px;
}
.footer-item .address {
	font-size: 20px;
}
.footer-item .email {
	font-family: Tahoma;
	padding-bottom: 5px;
}


.footer-menu-blck {
	margin-bottom: 40px;
}
.footer-menu {
	display: inline-block;	
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 0;	
}
.footer-menu li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-menu li a {
	display: block;
	color: #fff;
	font-size: 14px;
	font-family: "Tahoma";
	text-decoration: none;
	padding: 17px 20px 0;
}
/*
.footer-menu li a:hover {
	background-color: #bd210d;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}


/* CSS-RESET /*
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    height: 100%;
    background: #fff;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
*/